# Python as a Calculator

Blank notebook to be used for class exercises.

Name:Ashley Cortez

## Exercise 1

Change Hello to Goodbye, then run the cell.

In [2]:

A = 3.14159
print(A)
type(A)

3.14159

float

## Exercise 2
In the cell below, calculate the following expressions (cast to integers using int()):

| a | b|
----|---- |
| 12 + 4  | 12 + 5 |
| 12 -4   | 12 - 5 |
| 12 $\times$ 4 | 12 $\times$ 5 |
| 12 $\div$ 4 | 12 $\div$ 5|
| $12^4$ | $12^5$ |

Which is wrong?

In [3]:
# This is  a comment. Make sure you wrap all the expressions like the example below.
# Also, create a new cell for each expression (i.e., press the + button in Jupyter Lab)
int(12 + 4) # I have done the first one for you. You can create new cells for the others.

16

In [4]:
int(12+5)

17

In [5]:
int(12-4)

8

In [6]:
int(12-5)

7

In [7]:
int(12*4)

48

In [8]:
int(12*5)

60

In [9]:
int(12/4)

3

In [10]:
int(12/5)

2

In [11]:
12**4

20736

In [12]:
12**5

248832

## Exercise 3

In a cell for each item, alculate the following expressions one at a time:

1. 12.0 + 4.0
2. 12.0 $\div$ 4.0
3. $25.0^{0.5}$
4. $5.0^{-1.0}$
5. 5.0 $\div$ 2

In [13]:
float(12+4)

16.0

In [14]:
float(12/4)

3.0

In [15]:
float(25**0.5)

5.0

In [16]:
float(5**-1)

0.2

In [17]:
float(5/2)

2.5

## Exercise 4

First, predict what the python result will be. Next, in the cell below, calculate the following expressions one at a time:

1. 'Hello, ' + "world!"
2. 'Hello!' * 3
3. '' * 10000000000 # two adjacent single quotes
4. '4' + '2'

In [18]:
'Hello, ' + "World!"

'Hello, World!'

In [19]:
'Hello!' * 3

'Hello!Hello!Hello!'

In [20]:
'' * 10000000000 # two adjacent single quotes

''

In [21]:
'4' + '2'

'42'

## Exercise 5

Predict whether Python will print True or False before you type the following expressions.

1. 1 > 2 or 2 > 1
2. 1 > 2 or not 2 > 1
3. not True
4. 1 > 2 or True

In [22]:
# False or True > True
1 > 2 or 2 > 1

True

In [23]:
# False or not True > False
1 > 2 or not 2 > 1

False

In [28]:
#False
not True

False

In [29]:
#true
1 > 2 or True

True

## Exercise 6

Write the if, elif, else statements to process a score between 0.0 and 1.0. If the score is out of range, print an error message. If the score is between 0.0 and 1.0, print the grade using the following table:

| Score | Grade |
| ----- | ----- |
| $\geq$ 0.9 | A |
| $\geq$ 0.8 | B |
| $\geq$ 0.7 | C |
| $\geq$ 0.6 | D |
| $<$ 0.6 | F |

In [46]:
score = 200

In [49]:
if score >= 0.9 and score <= 1.0:
    print("A")
elif score >= 0.8 and score <= 0.9:
    print("B")
elif score >= 0.7 and score <= 0.8:
    print("C")
elif score >= 0.6 and score <= 0.7:
    print("D")
elif score >= 0 and score <= 0.6: 
    print("F")
else:
    print("Error")

Error